{% extends 'base.html' %}
{% block title %}{{ user_obj.username }}{% endblock %}
{% block menu %}
    {% if user_obj == request.user %}
        <li><a href="{% url 'accounts:detail' user_obj.pk %}">View</a></li>
        <li><a href="{% url 'accounts:update' user_obj.pk %}">Edit Profile</a></li>
    {% endif %}
{% endblock %}
{% block content %}
    <h1>Change password</h1>
    <form action="{% url 'accounts:change_password' user_obj.pk %}" method="post">
        {% include 'partial/form.html' with button_text="Change" %}
    </form>
{% endblock %}