<div class="pagination">
    <form action="" method="GET">
        <a href="?{% if query %}{{ query }}&{% endif %}page=1">&laquo;Start</a>
        {% if page_obj.has_previous %}
            <a href="?{% if query %}{{ query }}&{% endif %}page={{ page_obj.previous_page_number }}">Previous</a>
        {% else %}
            <span class="page-disabled">Previous</span>
        {% endif %}
        <span>
            Page <input class="page-input" type="text" name="page" value="{{ page_obj.number }}" maxlength="4"> of {{ paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="?{% if query %}{{ query }}&{% endif %}page={{ page_obj.next_page_number }}">Next</a>
        {% else %}
            <span class="page-disabled">Next</span>
        {% endif %}
        <a href="?{% if query %}{{ query }}&{% endif %}page={{ paginator.num_pages }}">End &raquo;</a>
    </form>
    <div>
        {% for page in paginator.page_range %}
            {% if page_obj.number == page %}
                <span class="page-active">{{ page }}</span>
            {% else %}
                <a href="?{% if query %}{{ query }}&{% endif %}page={{ page }}">{{ page }}</a>
            {% endif %}
        {% endfor %}
    </div>
</div>