{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Issue Tracker{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<nav class="navbar">
    <div class="container">
        <ul class="menu">
{#            <li><a href="{% url 'webapp:index' %}">Home</a></li>#}
{#            {% block menu %}{% endblock %}#}
{#            {% if request.user.is_authenticated %}#}
{#                {% block menu_links %}{% endblock %}#}
{#                <li class="menu-right"><a href="{% url "accounts:users" %}" class="nav-link">Users</a></li>#}
{#                <li class="menu-right"><a href="{% url "accounts:logout" %}" class="nav-link">Log out</a></li>#}
{#                <li class="menu-right"><a href="{%  url "accounts:detail" user.pk %}">Hello, {{ user.username }}!</a></li>#}
{#            {% else %}#}
{#                <li><a href="{% url 'accounts:login'  %}">Log In</a></li>#}
{#                <li><a href="{% url 'accounts:create'  %}">Sign Up</a></li>#}
{#            {% endif %}#}
        </ul>
    </div>
</nav>
<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>