{% extends 'base.html' %}
{% block title %}Products{% endblock %}
{% block menu %}
{#    {% if perms.webapp.add_product and perms.webapp.can_have_piece_of_pizza %}#}
{#        <li class="nav-item"><a href="{% url 'webapp:product_create' %}" class="nav-link">Добавить товар</a></li>#}
{#    {% endif %}#}
{% endblock %}
{% block content %}
    <h1 class="text-center">Products</h1>
    <div class="row">
        {% for product in product_list %}
            <p>{{ product.name }}</p>
            <p>{{ product.picture }}</p>
            <p>{{ product.description }}</p>
            <p>{{ product.category }}</p>
{#            <div class="col col-3">#}
{#                <div class="card">#}
{#                    <img src="{{ product.picture.url }}" class="card-img-top" alt="{{ product.name }}">#}
{#                    <div class="card-body">#}
{#                        <h5 class="card-title">{{ product.name }}</h5>#}
{#                        <p class="card-text">{{ product.description }} | {{ product.price }}</p>#}
{#                        <a href="{% url "webapp:product_detail" product.pk %}"#}
{#                           class="btn btn-primary">Посмотреть</a>#}
{#                        <a href="{% url 'webapp:basket_change' %}?pk={{ product.pk }}&action=add" class="btn btn-primary mt-2">В корзину</a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        {% endfor %}
    </div>
{% endblock %}