{% extends 'base.html' %}

{% block title %}{{ issue.summary }}{% endblock %}
{#{% block menu %}#}
{#    <li><a href="{% url 'webapp:index' %}">All products</a></li>#}
{#{% endblock %}#}

{% block content %}

    <div class="row">
        <div class="col-4-sm">
            <div class="container">
                {% if product.picture %}
                    <figure class="figure">
                        <img src="{{ product.picture.url }}" class="figure-img img-fluid rounded" width="250"
                             height="250"
                             alt="{{ product.name }}">
                        <figcaption class="figure-caption">{{ product.name }}</figcaption>
                    </figure>
                {% else %}
                    <figure class="figure">
                        <img src="{{ product.picture.url }}" class="figure-img img-fluid rounded"
                             alt="{{ product.name }}">
                        <figcaption class="figure-caption">{{ product.name }}</figcaption>
                    </figure>
                {% endif %}
            </div>
        </div>
        <div class="col-md">
            <h3>{{ product.name.capitalize }}</h3>
            <span class="badge badge-secondary">{{ product.category }}</span>
            {#    <p>Category: {{ product.category }}</p>#}
            <p>{{ product.description }}</p>
        </div>
    </div>

    <div style="background-color: rgba(0,0,0,.03); height: 4rem; margin-bottom: 1rem">
        <span class="align-bottom"><h4>Reviews:</h4></span>
    </div>

    <div class="container">

        {% for review in reviews %}

            <div class="card border-light mb-3" style="max-width: 18rem;">
                <div class="card-header">
                    Author: {{ review.author }}
                </div>
                <div class="card-body">
                    {#                    <h5 class="card-title">Light card title</h5>#}
                    <p class="card-text">{{ review.text }}</p>
                    <p>Grade: {{ review.grade }}</p>
                </div>
            </div>
        {% empty %}
            <p>No reviews yet.</p>
        {% endfor %}
    </div>
    </div>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}

